@value breakpoints: "./breakpoints.module.css";
@value desktopBreakpoint from breakpoints;

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  min-height: 100vh;
  background-color: var(--charcoal-grey);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 23.4rem;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 15%);
}

.informationContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 2rem;
  align-items: flex-start;
  gap: 1rem;
}

@media desktopBreakpoint {
  .mainContainer {
    flex-direction: row-reverse;
    max-width: 58rem;
    /* min-height: 40rem; */
    padding: 1.5rem;
    border-radius: 2rem;
  }

  .informationContainer {
    padding: 2rem 4rem 2rem 2.5rem;
  }
}
